Amazon sales data EDA by Kshitij

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Import CSV

In [2]:
Salesdata = pd.read_csv('Salesdata.csv')
Salesdata.head()

C:\Users\Kshitij\AppData\Local\Temp\ipykernel_9560\3360398455.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  Salesdata = pd.read_csv('Salesdata.csv')

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,...,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,10000481.0,30-04-2017,-237.91,2017-04-30,100012.0,NaN,NaN,Urban Large Eggs,2000.0,0.00,...,0.0,237.91,237.910000,1.0,184.0,EA,NaN,U/M = unit of measure,NaN,NaN
1,10002220.0,14-07-2017,368.79,2017-07-14,100233.0,P01,20910,Moms Sliced Turkey,1000.0,824.96,...,0.0,456.17,456.170000,1.0,127.0,EA,NaN,NaN,NaN,NaN
2,10002220.0,17-10-2017,109.73,2017-10-17,116165.0,P01,38076,Cutting Edge Foot-Long Hot Dogs,1000.0,548.66,...,0.0,438.93,438.930000,1.0,127.0,EA,NaN,EA = each,NaN,NaN
3,10002489.0,03-06-2017,-211.75,2017-06-03,100096.0,NaN,NaN,Kiwi Lox,1000.0,0.00,...,0.0,211.75,211.750000,1.0,160.0,EA,NaN,NaN,NaN,NaN
4,10004516.0,27-05-2017,96627.94,2017-05-27,103341.0,P01,60776,High Top Sweet Onion,1000.0,408.52,...,0.0,89248.66,196.150901,455.0,124.0,SE,NaN,SE = some SI unit like kgs or gallons,NaN,NaN

Total Number of columns and rows

In [3]:
Salesdata.shape

(65535, 24)

Columns and datatype

In [4]:
Salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65282 non-null  float64
 1   DateKey                           65282 non-null  object
 2   Discount Amount                   65280 non-null  float64
 3   Invoice Date                      65282 non-null  object
 4   Invoice Number                    65282 non-null  float64
 5   Item Class                        56993 non-null  object
 6   Item Number                       65241 non-null  object
 7   Item                              65282 non-null  object
 8   Line Number                       65282 non-null  float64
 9   List Price                        65282 non-null  float64
 10  Order Number                      65282 non-null  float64
 11  Promised Delivery Date            65282 non-null  object
 12  Sales Amount                      65282 non-null  float64
 13  Sales Amount Based on List Price  65282 non-null  float64
 14  Sales Cost Amount                 65282 non-null  float64
 15  Sales Margin Amount               65282 non-null  float64
 16  Sales Price                       65281 non-null  float64
 17  Sales Quantity                    65282 non-null  float64
 18  Sales Rep                         65282 non-null  float64
 19  U/M                               65282 non-null  object
 20  Unnamed: 20                       0 non-null      float64
 21  Unnamed: 21                       4 non-null      object
 22  Unnamed: 22                       0 non-null      float64
 23  Unnamed: 23                       0 non-null      float64
dtypes: float64(16), object(8)
memory usage: 12.0+ MB

Select perticular columns.

In [5]:
Salesdata = Salesdata[['CustKey','DateKey','Discount Amount','Invoice Date','Invoice Number','Item Number','Item','Line Number'
                             ,'List Price','Order Number','Promised Delivery Date','Sales Amount','Sales Amount Based on List Price','Sales Cost Amount'
                             ,'Sales Margin Amount','Sales Price','Sales Quantity','Sales Rep','U/M']]

Remove all null values.

In [6]:

Salesdata.dropna(subset=['Discount Amount','Sales Price', 'Item Number'],inplace=True)

Check the data set and null values.

In [7]:
Salesdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65241 entries, 1 to 65281
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65241 non-null  float64
 1   DateKey                           65241 non-null  object
 2   Discount Amount                   65241 non-null  float64
 3   Invoice Date                      65241 non-null  object
 4   Invoice Number                    65241 non-null  float64
 5   Item Number                       65241 non-null  object
 6   Item                              65241 non-null  object
 7   Line Number                       65241 non-null  float64
 8   List Price                        65241 non-null  float64
 9   Order Number                      65241 non-null  float64
 10  Promised Delivery Date            65241 non-null  object
 11  Sales Amount                      65241 non-null  float64
 12  Sales Amount Based on List Price  65241 non-null  float64
 13  Sales Cost Amount                 65241 non-null  float64
 14  Sales Margin Amount               65241 non-null  float64
 15  Sales Price                       65241 non-null  float64
 16  Sales Quantity                    65241 non-null  float64
 17  Sales Rep                         65241 non-null  float64
 18  U/M                               65241 non-null  object
dtypes: float64(13), object(6)
memory usage: 10.0+ MB

In [8]:
Salesdata.isnull().sum()

CustKey                             0
DateKey                             0
Discount Amount                     0
Invoice Date                        0
Invoice Number                      0
Item Number                         0
Item                                0
Line Number                         0
List Price                          0
Order Number                        0
Promised Delivery Date              0
Sales Amount                        0
Sales Amount Based on List Price    0
Sales Cost Amount                   0
Sales Margin Amount                 0
Sales Price                         0
Sales Quantity                      0
Sales Rep                           0
U/M                                 0
dtype: int64

In [9]:
Salesdata.shape

(65241, 19)

Save modified and clean dataset in local storage.

In [10]:
Salesdata.to_csv('Cleandata.csv')